.board_area {
    width: 100%;
    overflow: hidden;
}

.board_area h1 {
    margin-top: 20px;
    font-size: 30px;
}

.board_area h4 {
    margin-top: 20px;
}

#search_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_box select,
#search_box input {
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid rgb(195, 195, 195);
    font-size: 16px;
}

#search_box button,
.btn {
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    background-color: #12B886;
    border-color: #12B886;
    color: #eee;
    cursor: pointer;
}

.table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    text-align: center;
}

th {
    padding: 10px;
    background-color: #12B886;
    color: #eee;
    font-size: 16px;
}

tbody td:nth-of-type(1) {
    width: 10%;
}
tbody td:nth-of-type(2) {
    width: 40%;
}
tbody td:nth-of-type(3) {
    width: 20%;
}
tbody td:nth-of-type(4) {
    width: 20%;
}
tbody td:nth-of-type(5) {
    width: 10%;
}

td {
    background-color: aliceblue;
    border-bottom: 1px solid rgb(195, 195, 195);
    padding: 10px 5px;
}

.read_check {
    cursor: pointer;
}

#page_num,
#search_box {
    margin-top: 30px;
    text-align: center;
}

#page_num a {
    text-decoration: none;
    cursor: pointer;
}

.write_btn {
    display: flex;
    justify-content: right;
}

.lock {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.lock_check {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 모달창 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: none;
}

.open {
    display: block;
}

.modal_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    padding: 20px;
}

.modal_box > h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(195, 195, 195);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: inherit;
    color: gray;
    font-size: 25px;
    cursor: pointer;
}

#modal_form {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#modal_form p {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

input[name=pw_check] {
    margin: 0 10px;
    font-size: 16px;
    padding: 5px 15px;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;
}