* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    color: var(--font-color);
    font-family: 'NanumSquare';
}

:root {
    --font-color: rgb(30, 30, 30);
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #f6f3f2;
}

main {
    width: 1440px;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* 로그인 버튼 */
.btn {
    width: 90px;
    height: 35px;
    background-color: #12B886;
    color: #eee;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover,
.move:hover {
    font-weight: bold;
}

/* 소개 박스 */
.intro {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    margin-top: 30px;
}

.intro h4 {
    margin: 20px 0;
}

.move {
    width: 150px;
    height: 35px;
    background-color: #12B886;
    color: #eee;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}