* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #2d7ce3;
    cursor: pointer;
}

h1 {
    margin: 15px 0;
}

h4 {
    margin: 15px 0;
}

.table {
    text-align: center;
    border: 1px solid #ddddda;
    border-collapse: collapse;
    overflow: hidden;
}

th {
    background-color: #eee;
    padding: 10px 15px;
}

td:nth-of-type(1) {
    width: 70px;
}
td:nth-of-type(2) {
    width: 500px;
}
td:nth-of-type(3) {
    width: 120px;
}
td:nth-of-type(4) {
    width: 100px;
}
td:nth-of-type(5) {
    width: 100px;
}

td {
    padding: 10px 5px;
    border-bottom: 1px solid #ddddda;
    background-color: #fdfdfd;
}

.read_check {
    cursor: pointer;
}

#page_num {
    margin-top: 20px;
    text-align: center;
}

#write_btn {
    display: flex;
    justify-content: right;
}

#search_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

select {
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 15px;
    cursor: pointer;
}

.btn {
    cursor: pointer;
}

.btn_primary {
    background-color: #2d7ce3;
    color: #eee;
    font-size: 16px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
}

input {
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}